gdown
h5py 
ipympl 
librosa 
ninja 
numpy<2.0
pandas 
pesq 
pillow 
protobuf 
pyarrow
pyroomacoustics 
pystoi 
pytorch-lightning==2.1.4
scipy 
sdeint 
seaborn 
torch==2.2.1
torch-ema 
torchaudio==2.2.1
torchinfo 
torchsde 
tqdm 
wandb